@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    cursor: default;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*----------------------------------- display digital clock part ------------------------------------*/
.clock {
    min-width: 300px;
    max-width: 90%;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 0 0.5rem 0.2rem rgb(0,255,255) inset;
    border-radius: 1rem;
}

.display {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: rgb(0,255,255);
    font-size: 2rem;
    font-family: 'orbitron', sans-serif;
    filter: drop-shadow(0 0 7px rgb(0,255,255));
}

.display span {
    width: 20%;
}

/*----------------------------------------- options for digital clock part -------------------------------------*/
.options {
    display: flex;
    min-width: 300px;
    max-width: 90%;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
}

/*---------------------------- color option part ----------------------------*/
.options .color {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    padding: 20px 0;
    border-radius: 1rem;
    color: black;
    background-color: lightgrey;
}

.options .color div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 210px;
    max-width: 90%;
    padding: 5px;
}

.options .color div label {
    font-weight: bold;
    font-size: 1.2rem;
}

.options .color div button {
    margin: 0 auto;
    padding: 10px;
    border-radius: 1rem;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}


/*------------------------------- responsive with Bootstrap 5 breakpoints ------------------------------*/
@media (min-width: 576px) {
    .clock {
        min-width: 500px;
        max-width: 80%;
        box-shadow: 0 0 0.7rem 0.4rem rgb(0,255,255) inset;
    }

    .display {
        padding: 20px;
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    .clock {
        min-width: 600px;
        box-shadow: 0 0 0.8rem 0.5rem rgb(0,255,255) inset;
    }

    .display {
        padding: 25px;
        font-size: 3.5rem;
    }
}

@media (min-width: 992px) {
    .clock {
        min-width: 700px;
        box-shadow: 0 0 1rem 0.8rem rgb(0,255,255) inset;
    }

    .display {
        padding: 30px;
        font-size: 4rem;
    }
}

@media (min-width: 1200px) {
    .clock {
        min-width: 800px;
        box-shadow: 0 0 1.5rem 0.9rem rgb(0,255,255) inset;
    }

    .display {
        padding: 35px;
        font-size: 4.5rem;
    }
}

@media (min-width: 1400px) {
    .clock {
        min-width: 900px;
        box-shadow: 0 0 1.5rem 1rem rgb(0,255,255) inset;
    }

    .display {
        padding: 40px;
        font-size: 5rem;
    }
}